.activity-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.4em;
}
.activity-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid thin;
  text-align: center;
  padding: 0.3em;
}
.activity-list-item__name {
}
.activity-list-item__delete-button {
  border: none;
  background-color: transparent;
}
